*,p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
.background{
    background: url('../img/bgKanan.svg'), url('../img/bgKiri.svg');
    height: 100%;
    position: fixed;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right,left;
    z-index: -1;
}
body{
    background-color: #ceffea;
    font-family: 'Open Sans Condensed', sans-serif;
}

.navbar{
    max-width: 1071px;
    width: 90%;
    min-width: 380px;
    height: 78px;

    background: #F6E8EA;
    border-radius: 20px;

    position: fixed;
    top: 32px;

    display: flex;
    justify-content: space-between;
}
.kiri{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.garis{
    height: 80%;
    width: 1px;
    background-color: black;
    margin-right: 16px;
    margin-left: 4px;
}
.kiri p{
    margin-left: 8px;
}
.logo{
    width: 70px;
    height: 54px;
}

.form{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    max-width: 765px;
    width: 80%;
    min-width: 320px;
    height: 560px;

    background: #F6E8EA;
    border-radius: 30px;

    position: fixed;
    top: 128px;
}

.input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 8px 0;
}

.input input[type=file]{
    width: 40%;
}

.input label{
    font-size: 25px;
}
.input select{
    font-size: 20px;
    padding-top: 7px;
}

.inputnama{
    width: 100%;
}

input, textarea, select, option{
    padding: 8px 13px;
    width: 100%;
    max-width: 450px;
    border-radius: 20px;
    resize: none;
    border: 1px solid;
}
.input input:focus, .input textarea:focus, .input select:focus{
    outline: none;
}
.submit{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 70%;
}
.btn.btn-info{
    padding: 5px 20px;
    border-radius: 20px;
}

.nav-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto{
    justify-content: flex-start;
}

.foto input{
    background-color: white;
    margin-left: 50px;
}
.namahead{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}
.kotak-1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    max-width: 1071px;
    min-width: 320px;
    width: 90%;
    min-height: 178px;
    background-color: #F6E8EA;
    margin: 0 auto;
    margin-top: 150px;
    border-radius: 30px;
    padding: 10px 30px;
}
.daftarp{
    font-size: 39px;
}
.head{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    background-color: white;
    width: 90%;
}
.isi{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    height: 70px;
    background-color: white;
    width: 90%;
    border: 1px solid;
    text-align: center;
}
.isian{
    width: 150px;
}
.garishorizontal{
    width: 90%;
    height: 1px;
    background-color: black;
    margin-right: 4px;
    margin-left: 4px;
}