/*
======================
Body
======================
*/
body {
	font-family: Arial, sans-serif;
	background-image: url(../img/backgroundHomepage.svg);
	background-attachment: fixed;
	background-size: cover;
}
/*
======================
Header
======================
*/
.header-container .title-bar {
	display: inline-block;
    position: fixed;
    left: 0;
    top: -20px;
    width: 100%;
    height: 90px;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 40%;
    background-color: #F6E8EA;
    margin-top: 20px;
    margin-left: -22%;
    margin-right: 8%;
    transform: scale(0.6);
    font-size: 30px;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    z-index: 2;
}
.title-bar .title-bar-left{
	float: left;
	margin-left: -50px;
}
#Logo{
	cursor: pointer;
}
.title-bar-middle{
	margin-top: 7px;
	margin-left: 60px;
}

#LineLeft{
	position: absolute;
	margin-left: -20px;
	float: left;
    width: 2px;
    height: 70%;
    background-color: black;
}

/* Dropdown Button */
.dropbtn {
	background-color: inherit;
	color: black;
	padding: 16px;
	border: none;
	margin: 0px -28px 0px -13px;
	font-size: 30px;
	outline: none;
	cursor: pointer;
	}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	position: relative;
	display: inline-block;
  }

  .segitiga{
	  position: relative;
	  margin-bottom: 7px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	font-size: 30px;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 130px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	font-family:'Kodchasan', sans-serif;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}

  .show {display:block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #FFD2D9;
}

#kategoriDropdown,#organisasiDropdown{
	margin-left: -10px;
}
.wrapper{
	position: absolute;
    top: 50%;
    left: 66%;
    transform: translate(-50%, -50%);
    background: white;
    width: 55%;
    padding: 7px 7px 7px 0px;
    display: flex;
    border-radius: 30px;
}

.wrapper .input {
    width: 85%;
    padding: 15px 20px;
    border: none;
	border-radius: 30px;
	font-family:'Kodchasan', sans-serif;
    font-size: 21px;
	font-weight: bold;
	outline: none;
}

.searchbtn {
    background: #e4e4e1;
    width: 10%;
    position: relative;
	cursor: pointer;
	border: none;
	border-radius: 30px ;
	outline: none;
	margin-left: 10px;
 }

 .searchbtn:hover{
	background-color: rgb(216, 216, 216);
}

.searchbtn .fas{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-bar-right {
    margin-top: -49px;
    margin-right: -40%;
	float: right;
}


#LineRight{
	position: absolute;
    margin-top: -18px;
    margin-left: -15px;
    width: 2px;
    height: 70%;
	background-color: black;
}
  /* Dropdown Button */
.dropbtnProfile {
	background-color: inherit;
	color: white;
	padding: 29px 23px 5px 25px;
	border: none;
	margin-top: -9px;
	outline: none;
	cursor: pointer;
  }
  .UserLogo{
	position: relative;
    margin-top: -23px;
    margin-left: -16px;
    width: 40px;
 }
 .segitigaRight{
	position: relative;
	margin-bottom: 5px;
    top: -6px;
    margin-left: 6px;
    max-width: 15px;
 } 
  /* The container <div> - needed to position the dropdown content */
  .dropdownProfile {
	position: relative;
	display: inline-block;
	
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdownProfile-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdownProfile-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdownProfile-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdownProfile:hover .dropdownProfile-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdownProfile:hover .dropbtnProfile {background-color: #FFD2D9;}



/*
=================
Hasil Pencarian
=================
*/
.hasilPencarian{
	position: relative;
    margin: 80px 0px -80px 6.5%;
    background-color: transparent;
    padding: 1.3% 1px 1px 1px;
    border-radius: 20px;
    font-size: 19px;
    font-family: 'Kodchasan', sans-serif;
    font-weight: bold;
 }

 li{
	margin: -1px 6% 5px 0%;
    padding: 8px 0px 8px 0px;
 }
 
 .cari{
	display: list-item;
	background-color: white;
	border-radius: 20px;
	padding-left: 1%;
 }

 .refCari{
	 margin-left: -7px;
 }

/*
=================
Window
=================
*/

.products-container{
    position: relative;
    width: 89%;
    height: auto;
    margin: 90px 0px 20px 6%;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #F6E8EA;
    border-radius: 20px;
    display: inline-block;
}
.photo-column {
	display: flex;
	justify-content: space-around;
	margin-bottom: 10px;
}
.photo-container {
	position: relative;
	width: 246px;
	height: 340px;
	background-color: white;
	margin: 15px 8px 0px 8px;
	border-radius: 20px;
}

.overlayContainer{  
	position: relative;
    width: 100%;
}
.photo-container .fotoBarang {
	position: relative;
	display: block;
	margin:	auto;
	width: 100%;
	height: 237.47px;
	border-radius: 20px;
	cursor: pointer;
}
.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #64626298;
	overflow: hidden;
	width: 100%;
	height: 0;
	border-radius: 20px;
	transition: 1s ease;
	pointer-events: none;
}

.beliBarangIni{
	text-align: center;
	color: white;
	font-weight: bold;
	margin-top: 10%;
}
  
.photo-container:hover .overlay {
	height: 30%;
}
.LineBelowImage{
	width: 221px;
	height: 0px;
	margin: 5px 0px 0px 12px;
	background-color: black;
	border: 1px solid #000000;
}
.photo-container .iconDeskripsi{
	max-width: 20px;
	margin: 9px 0px -9px 13px;
}
.photo-container .deskripsiBarang {
	color: black;
	text-align: left;
	margin: -15px 0px -5px 36px;
	font-size: 17px;
}

















