/* Sign In CSS */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  src: url(../font/MilkyNice-Clean.otf);
  font-family: MilkyNice;
}

body {
  background: #CEFFEA;
  font-family: 'Open Sans Condensed', sans-serif;
  color: black;
  background-image: url(../img/Frame1.svg);
  background-size: cover;      
  background-attachment: fixed;
}

form {
  max-width: 400px;
  margin: 9% auto;
  margin-bottom: -100px;
  padding: 30px 20px;
  background: #F6E8EA;
  border: 4px solid #000000;
  box-sizing: border-box;
  border-radius: 52px;
}

#danuspedia{
  color: transparent;
}


input[type="password"],
input[type="email"]
{
  border-radius: 18px;
  font-size: 16px;
  height: auto;
  margin: 0;
  padding: 15px;
  width: 100%;
  background-color: white;
  color: black;
  margin-bottom: 10px;
  border: none;
  transition: 0.2s;
  outline: none;
}

input[type=password]:focus,
input[type="email"]:focus{
  border: 2px solid rgb(0, 0, 0);
}

input[type="checkbox"]
{
  cursor: pointer;
}
button {
  padding: 5px 0px;
  color: black;
  background-color: #0FCDE7;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 25%;
  border: 1px solid #6EA4BF;
  border-width: 1px 1px 3px;
  margin : 0px 0px 10px 15px;
  background: #0FCDE7;
  box-sizing: border-box;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
}
button:hover{
  background-color: #05b3ca;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

label {
  font-size: 200%;
  display: inline;
  margin-bottom: 1px;
}

.registerInfo{
  margin: auto;
  margin-left: 60%;
  margin-top: -15%;
  padding-bottom: -50%;
  bottom: 10px;
  font-size: 71%;
  /* margin-top: -500px;*/
}

.moreInfo{
  margin: auto;
  margin-left: 43%;
  margin-top: 8%;
  font-size: 80%;
}
#register,
#more{
  color: blue;
  cursor: pointer;
  text-decoration: none;
}

#register:hover,
#more:hover{
  text-decoration: underline;
  color: rgb(0, 0, 134);
}


.signInInfo{
  left: 23%;
  position: absolute;
  font-size: 80%;
  display: block;
  margin-top: 105px;

}

.D{
  margin-left: 145px;
  margin-top: -6px;
}

.moreAbout{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%,-50%);
}



.popUpDanuspedia{
  width: 25%;
  position: fixed;
  font-size: 15px;
  text-align: center;
  background-color:#fdc0c9;
  border-radius: 20px;
  box-shadow: 1px 1px 3px 3px #ccc;
  transform: translate(-50%, -50%);
  left: 50%;
  top: -50%;
  transition: 2s ease;
  opacity: 0;
  z-index: 1;
}
#founded{
  color:blue;
  font-weight: bold;
  font-size: inherit;
}
#popUpOke{
  margin-left: auto;
  width: 50%;
}
#more{
  font-size: inherit;
}
@media screen and (min-width: 750px) {

  form {
    max-width: 480px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
  }

  #danuspedia {
    font-family: MilkyNice;
    font-size: 300%;
    -webkit-text-stroke: 2px black;
    color: white;
    margin: 20px 0 10px 70px;
    text-align: center;
  }
  .D{
    margin: 0;
  }

  .moreAbout{
    top: 0px;
    right: 60px;
    left: auto;
    font-size: 20px;
    transform: none;
  }

  .popUpDanuspedia{
    font-size: 30px;
  }
}